body {
    display:flex;
    flex-direction: column;
    background-color: rgb(0, 89, 255);
    color: rgb(27, 155, 127);
  }
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1%;
      background-color: rgb(165, 132, 42);
      color: black;
    }
  
    .btn {
      background-color: rgb(76, 139, 34);
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  
    .dropdown {
      position:relative;;
      display:inline-block;
    }
  
    .menu-items {
      display: none;
      position: absolute;
      right: 0;
      background-color: black;
      min-width: 160px;
      z-index: 1;
    }
  
    .menu-items a {
      color: beige;
      padding: 12px 16px;
      text-decoration: none;
      display:block
    }
  
    .menu-items a:hover {background-color: rgb(151, 129, 30);}
    .dropdown:hover .menu-items {display: block;}
    .dropdown:hover .btn {background-color: brown;}
  
    h1 {
      font-size: 150%;
    }
    main {
      display:flex;
      flex: 1 1 0;
      max-width: 1300px;
      margin: 2% auto;
    }

form{
    max-width: 600px;
    margin: 3% 0;
    border-bottom: 1px solid rgb(192, 136, 32);
    color:lavender
  }
  h2 {
    font-size: 150%;
    color:whitesmoke
  }
  form p {
    margin: 3% 0;
  }
  label {
    display:block;
  }